@font-face
  font-family "icomoon"
  src url("/static/fonts/icomoon.eot?gqpuz")
  src url("/static/fonts/icomoon.eot?#iefixgqpuz") format("embedded-opentype"), url("/static/fonts/icomoon.woff?gqpuz") format("woff"), url("/static/fonts/icomoon.ttf?gqpuz") format("truetype"), url("/static/fonts/icomoon.svg?gqpuz#icomoon") format("svg")
  font-weight normal
  font-style normal


[class^="icon-"], [class*=" icon-"], .iconic
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

[class^="icon-"]:before, [class*=" icon-"]:before, .iconic-before
		font-family "icomoon"
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-transform none
		line-height 1

.icon-arrow-down
  &:before
    content "\e601"

.icon-arrow-left
  &:before
    content "\e602"

.icon-arrow-right
  &:before
    content "\e603"

.icon-arrow-tri-left
  &:before
    content "\e604"

.icon-arrow-tri-right
  &:before
    content "\e605"

.icon-arrow-up
  &:before
    content "\e606"

.icon-cal-7days
  &:before
    content "\e607"

.icon-cal-24hours
  &:before
    content "\e608"

.icon-cal-30days
  &:before
    content "\e609"

.icon-collections-hex
  &:before
    content "\e60a"

.icon-collections
  &:before
    content "\e60b"

.icon-contact
  &:before
    content "\e60c"

.icon-download
  &:before
    content "\e60d"

.icon-edit
  &:before
    content "\e60e"

.icon-github
  &:before
    content "\e60f"

.icon-health-yay
  &:before
    content "\e610"

.icon-health-meh
  &:before
    content "\e611"

.icon-health-uh-oh
  &:before
    content "\e612"

.icon-health-rip
  &:before
    content "\e613"

.icon-history
  &:before
    content "\e614"

.icon-i-used-this-hex
  &:before
    content "\e615"

.icon-i-used-this
  &:before
    content "\e616"

.icon-package-hex
  &:before
    content "\e617"

.icon-package
  &:before
    content "\e618"

.icon-x
  &:before
    content "\e619"

.icon-search
  &:before
    content "\e61a"

.icon-star-hex
  &:before
    content "\e61b"

.icon-star
  &:before
    content "\e61c"

.icon-support
  &:before
    content "\e61d"

.icon-tag
  &:before
    content "\e61e"

.icon-twitter
  &:before
    content "\e61f"

.icon-website
  &:before
    content "\e620"
