@import "npm/index"
@import "graph"

.error-404
  text-align: center;

  h1
    font-weight bold
    font-size 10em

    @media only screen and (max-width: mobileMaxWidth)
      font-size 6em

  p
    font-weight bold
    font-size 5em
    line-height 1

    @media only screen and (max-width: mobileMaxWidth)
      font-size 2em
