#readme
  margin 0

  h1
    margin 0
    padding 0
    text-align left
    line-height 1.2
    @extend .ellipsis
    overflow-y hidden

  hgroup
    margin 20px 0
    h2
      text-align left
      font-weight 300
      margin 0
      line-height 1.2

  h2
    text-transform none
    font-weight 700

  h3,h4,h5
    font-size 20px

  ol, ul
    ol, ul
      margin 0 0 0 35px

  p, li
    font-size 16px

  p
    margin 15px 0

  a
    font-weight 400

  img
    max-width 100%

  code
    code-font()
    background-color #F5F5F5

  pre
    overflow-x auto

  .superfluous
    display none

// Grabbed all the themes from this repo:
// https://github.com/isagalaev/highlight.js/tree/master/src/styles
//
// npm install -g stylus
// for f in *.css; do stylus --css $f; rm $f; done
//
// @import "hljs-themes/arta"
// @import "hljs-themes/ascetic"
// @import "hljs-themes/atelier-dune.dark"
// @import "hljs-themes/atelier-dune.light"
// @import "hljs-themes/atelier-forest.dark"
// @import "hljs-themes/atelier-forest.light"
// @import "hljs-themes/atelier-heath.dark"
// @import "hljs-themes/atelier-heath.light"
// @import "hljs-themes/atelier-lakeside.dark"
// @import "hljs-themes/atelier-lakeside.light"
// @import "hljs-themes/atelier-seaside.dark"
// @import "hljs-themes/atelier-seaside.light"
// @import "hljs-themes/brown_paper"
// @import "hljs-themes/codepen-embed"
// @import "hljs-themes/color-brewer"
// @import "hljs-themes/dark"
// @import "hljs-themes/default"
// @import "hljs-themes/docco"
// @import "hljs-themes/far"
@import "hljs-themes/foundation"
// @import "hljs-themes/github"
// @import "hljs-themes/googlecode"
// @import "hljs-themes/hybrid"
// @import "hljs-themes/idea"
// @import "hljs-themes/ir_black"
// @import "hljs-themes/kimbie.dark"
// @import "hljs-themes/kimbie.light"
// @import "hljs-themes/magula"
// @import "hljs-themes/mono-blue"
// @import "hljs-themes/monokai"
// @import "hljs-themes/monokai_sublime"
// @import "hljs-themes/obsidian"
// @import "hljs-themes/paraiso.dark"
// @import "hljs-themes/paraiso.light"
// @import "hljs-themes/pojoaque"
// @import "hljs-themes/railscasts"
// @import "hljs-themes/rainbow"
// @import "hljs-themes/school_book"
// @import "hljs-themes/solarized_dark"
// @import "hljs-themes/solarized_light"
// @import "hljs-themes/sunburst"
// @import "hljs-themes/tomorrow-night-blue"
// @import "hljs-themes/tomorrow-night-bright"
// @import "hljs-themes/tomorrow-night-eighties"
// @import "hljs-themes/tomorrow-night"
// @import "hljs-themes/tomorrow"
// @import "hljs-themes/vs"
// @import "hljs-themes/xcode"
// @import "hljs-themes/zenburn"
