Flask==0.10.1
Flask-Cache==0.13.1
Flask-Migrate==1.2.0
Flask-Restless==0.14.2
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.7
Werkzeug==0.9.6
alembic==0.6.7
argparse==1.2.1
itsdangerous==0.24
mimerender==0.5.4
python-dateutil==2.2
python-mimeparse==0.1.4
python-memcached==1.53
pytest==2.6.4
requests==2.4.1
six==1.8.0
semantic-version==2.3.1
wsgiref==0.1.2
wsgi-intercept==0.9.1
gunicorn
git+https://github.com/inveniosoftware/flask-sitemap.git#egg=flask-sitemap
