#profile
  padding-top 30px

a.avatar
  max-width 100%
  display block
  img
    width 100%
    border-radius 5px

.layout-right h2
  text-transform none
  font-size 32px
  margin 20px 0 10px 0

.bullet-free
  @extend .vanilla-list
  li
    list-style none
    padding 5px 0

ul.meta
  @extend .vanilla-list
  li
    border-top 1px solid greigh5
    line-height 2
    &:first-child
      border none
