<div class="pagination">
    {{#if previous}}
        <a href="" data-hook="prev" class="previous">Previous</a>
    {{/if}}
    <a href="" data-hook="active" class="active"></a>
    {{#if next}}
        <a href="" data-hook="next" class="next">Next</a>
    {{/if}}
</div>
