<li>
    <div class="package-widget">
        <div class="package-details">
            <h3>
                <a class="name" data-hook="link"></a>
            </h3>
            <p class="description"></p>
            <p class="author quiet">
                <a class="version" data-hook="version" href=""></a>
                published {{model.last_published}} by
                <a data-hook="author"></a>
            </p>
            <p class="quiet">{{model.downloads.week}} downloads in the last week</p>
        </div>
    </div>
</li>
