<div>
    <div>
        <div class="centered">
            <h1>apm is the package manager for <span id="what-npm-is-for">Atom</span></h1>
        </div>
        <div id="home-stats" data-hook="stats"></div>
    </div>
    <h2 class="centered ruled">
        <a id="explicit" href="#explicit">Featured Packages</a>
    </h2>
    <ul class="columnar" data-hook="featured"></ul>
</div>
