<div>
    <div class="container">
        <div class="centered">
            <h1>apm is the package manager for <span id="what-npm-is-for">Atom</span></h1>
        </div>
        <div id="home-stats" data-hook="stats"></div>
    </div>

    <h2 class="centered ruled">
        <a id="explicit" href="#explicit">Featured Packages</a>
    </h2>

    <ul class="columnar" data-hook="featured"></ul>

    <ul class="columnar">
        <li>
            <h3><a href="http://nodejs.org/download/">Install npm</a></h3>
            <p>
                The npm command-line tool is bundled with Node.js, so if you already
                have Node.js installed then you have npm too. If not, go
                <a href="http://nodejs.org/download/">download the Node.js installer</a>.
            </p>
        </li>

        <li>
            <h3><a href="https://docs.npmjs.com">Learn the Ropes</a></h3>
            <p>
                We've got a <a href="https://docs.npmjs.com/">new docs site</a> featuring videos and tutorials to help
                you make your javascript dreams come true. Head on over to
                <a href="https://docs.npmjs.com/">docs.npmjs.com</a>
            </p>
        </li>

        <li>
            <h3><a href="/whoshiring">Get a Job</a></h3>
            <div class="hiring-container" data-template="vanilla"></div>
        </li>
    </ul>
</div>
