<div id="home-stats">
    <div class="stat icon-package-hex">
        <strong class="pretty-number" data-hook="count"></strong>
        total packages
    </div>
    <div class="stat icon-cal-24hours">
        <strong class="pretty-number" data-hook="day"></strong>
        downloads in the last day
    </div>
    <div class="stat icon-cal-7days">
        <strong class="pretty-number" data-hook="week"></strong>
        downloads in the last week
    </div>
    <div class="stat icon-cal-30days">
        <strong class="pretty-number" data-hook="month"></strong>
        downloads in the last month
    </div>
</div>
