<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atom</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Packages for Atom, a text editor by Github.">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <!-- build:css -->
        <link rel="stylesheet" href="{{url_for("static", filename="css/index.css")}}" type="text/css">
    <!-- endbuild -->
    <link rel="icon" type="image/png" href="{{url_for("static", filename="images/favicon-16x16.png")}}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{url_for("static", filename="images/favicon-32x32.png")}}" sizes="32x32">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WSTTF8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WSTTF8');</script>
    <!-- End Google Tag Manager -->
    <div data-hook="container"></div>
    <footer>
        <div class="container">
            <ul class="columnar">
                <li>
                    <h2>
                        <a href="http://shortcircuits.io">Shortcircuits.io</a>
                    </h2>
                </li>
                <li>
                    <p>
                        Built using <a href="http://flask.pocoo.org">Flask</a> and <a href="https://ampersandjs.com">AmpersandJS</a>. Source available on <a href="https://github.com/nikhilkalige/atom-website">Github</a>
                    </p>
                </li>
                <li class="bread">
                    <p>
                        <a href="http://shortcircuits.io">Home</a> / <a href="http://shortcircuits.io/about">About</a> / <a href="http://shortcircuits.io/contact">Contact</a>
                    </p>
                </li>
            </ul>
        </div>
    </footer>
    <!-- build:js -->
        <script src="{{ url_for("static", filename="js/vendors.js") }}"></script>
        <script src="{{ url_for("static", filename="js/app.js") }}"></script>
    <!-- endbuild -->
</body>
</html>
